__pycache__/
onivim2-crash.log
session.key
website/database.db
instance/
node_modules
**/.env
.wrangler/
public/js/
public/images/
functions/.wrangler/
**/dist/

.dev.vars*
!.dev.vars.example
.env*
!.env.example
