{% extends "master.html" %}

{% block head %}
<title>SD Runpod | Luke Henderson</title>
{% endblock %}

{% block body %}
<main class="mx-auto flex min-h-screen max-w-2xl flex-col items-center justify-center px-6 text-left">

<div class="flex items-center justify-center mx-auto text-center max-w-7xl mb-4">
    <h1 class="text-2xl font-black leading-tight">SD Runpod</h1>
</div>

<div class="flex items-center justify-center mx-auto text-center max-w-7xl mb-8">
    <a class="text-xs leading-tight" href="https://github.com/BlackHat-Magic/Wayfarer-SD-Runpod" target="_blank">Source Code</a>
</div>

<p class="max-w-prose text-lg leading-relaxed text-foreground sm:text-xl mb-8">This project used the Runpod serverless platform to run diffuser models.</p>

<p class="max-w-prose text-lg leading-relaxed text-foreground sm:text-xl mb-8">I wanted a simple way to run any diffusion model I wanted via an API endpoint. It was originally built for a now-shelved project named Wayfarer, hence the repository name.</p>

<p class="max-w-prose text-lg leading-relaxed text-foreground sm:text-xl">I might come back to this project, but it needs a lot of work.</p>

</main>
{% endblock %}