<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="icon" type="image/x-ixon" href="https://discord.id/img/flags/7.png">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	{% block head %}{% endblock %}
</head>

<body>
        {% block body %}{% endblock %}
</body>
</html>
