{% extends "master.html" %}

{% block head %}
<title>Math Tools | Luke Henderson</title>
{% endblock %}

{% block body %}
<ul class="nav">
	<li class="nav-item"><a href="/">Home</a></li>
	<li class="dropdown nav-item active">
		<a href="/Math" class="dropbtn">Math</a>
		<div class="dropdown-content">
			<a href="/Vector-Addition">Vector Addition Calculator</a>
			<a href="/Scalar-Multiplication">Scalar Multiplication Calculator</a>
			<a href="/Vector-Magnitude">Vector Magnitude Calculator</a>
			<a href="/Unit-Vector">Unit Vector Finder</a>
			<a href="/Dot-Product">Dot Product Calculator</a>
			<a href="/Cross-Product">Cross Product Calculator</a>
			<a href="/TSP">Triple Scalar Product Calculator</a>
			<a href="/Vector-Projection">Vector Projection Calculator</a>
		</div>
	</li>
	<li class="nav-item"><a href="#">D&D</a></li>
	<li class="nav-right"><a href="mailto:henderson.luket@gmail.com">Contact</a></li>
</ul>

<div class="flex">
	<div class="flex vertical start">
		<h1>Math Tools</h1>
		<p>Below is a list of mathematics tools hosted on this site, organized by subject. Right now, there are only Vector Calculus tools, but more are planned (e.g. Precalculus, Probability & Statistics) in the future.</p>
		<h2 id="Vector-Calc">Vector Calculus</h2>
		<div class="flex vertical start">
			<button onclick='window.location.href="/Vector-Addition"'>Vector Addition/Subtraction Calculator</button>
			<button onclick='window.location.href="/Scalar-Multiplication"'>Scalar Multiplication Calculator</button>
			<button onclick='window.location.href="/Vector-Magnitude"'>Vector Magnitude Calculator</button>
			<button onclick='window.location.href="/Unit-Vector"'>Unit Vector Finder</button>
			<button onclick='window.location.href="/Dot-Product"'>Dot Product Calculator</button>
			<button onclick='window.location.href="/Cross-Product"'>Cross Product Calculator</button>
			<button onclick='window.location.href="/TSP"'>Triple Scalar Product Calculator</button>
			<button onclick='window.location.href="/Vector-Projection"'>Vector Projection Calculator</button>
		</div>
	</div>
</div>

{% endblock %}
