{% extends "master.html" %}

{% block head %}
<title>Unit Vector Calculator | Luke Henderson</title>

<script src="{{ url_for('static', filename='js/unit-vector.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Unit Vector/Vector Direction Calculator</h1>
		
		<p>To use the calculator, input the components of the vetor whose direction you would like to find. Its unit vector is displayed below.</p>
		<p>Presently, the calculator returns an approximate decimal value. Precide values expressed as square roots may be added in the future.</p>
		<p>The resultant vector is listed at the bottom.</p>
		<div class="flex horizontal center">
			<div class="interior flex vertical space-around">
				<h6 class="inline">Dimensions: </h6>
			</div>
			<div class="interior flex vertical space-around">
				<div>
					<button class="inline circle" style="--size: 80px" @click="values.pop()">
						<h6>–</h6>
					</button>
					<h6 class="inline" x-text="values.length"></h6>
					<button class="inline circle" style="--size: 80px" @click="values.push(0)">
						<h6>+</h6>
					</button>
				</div>
			</div>
		</div>
		<h5>Input Vector: </h5>
		<form class="flex horizontal center">
			<template x-for="(dimension, index) in values">
				<input type="number" style="width: 24px; margin: 25px;" x-model="values[index]">
			</template>
		</form>
		<h5>Unit Vector: </h5>
		<div class="interior flex horizontal center">
			<h6><</h6>
			<template x-for="(dimension, index) in result()">
				<h6 x-text="result()[index]"></h6>
			</template>
			<h6>></h6>
		</div>
	</div>
</div>

<script defer>document.getElementById("navmath").classList.add("active")</script>
{% endblock %}
