{% extends "master.html" %}

{% block head %}
<title>Under Construction | Luke Henderson</title>

<script src="{{ url_for('static', filename='js/vector-addition.js') }}"></script>
{% endblock %}

{% block body %}
<ul class="nav">
	<li class="nav-item"><a href="/">Home</a></li>
	<li class="dropdown nav-item active">
		<a href="/Math" class="dropbtn">Math</a>
		<div class="dropdown-content">
			<a href="/Vector-Addition">Vector Addition Calculator</a>
			<a href="/Scalar-Multiplication">Scalar Multiplication Calculator</a>
			<a href="/Magnitude">Vector Magnitude Calculator</a>
			<a href="/Unit-Vector">Unit Vector Finder</a>
			<a href="/Dot-Product">Dot Product Calculator</a>
			<a href="/Cross-Product">Cross Product Calculator</a>
			<a href="/TSP">Triple Scalar Product Calculator</a>
			<a href="/Vector-Projection">Vector Projection Calculator</a>
		</div>
	</li>
	<li class="nav-item"><a href="#">D&D</a></li>
	<li class="nav-right"><a href="mailto:henderson.luket@gmail.com">Contact</a></li>
</ul>

<div class="flex">
	<div class="flex vertical start">
		<h1>Vector Addition and Subtraction Calculator</h1>
		
		<p>To use the calculator, add vectors to the calculator until you reach the desired number. Then set the number of dimensions the vectors should have. Or do it in the other order. I can't stop you. I'm a set of instructions, not a cop.</p>
		<p>Once you're done doing that, click "Calculate" to get the resultant vector.</p>
		<div class="flex horizontal center">
			<div class="interior flex vertical space-around" style="height: 260px">
				<h6 class="inline"># of Vectors: </h6>
				<h6 class="inline">Dimensions: </h6>
			</div>
			<div class="interior flex vertical space-around">
				<div x-data="vecNumber">
					<button class="inline circle" style="--size: 80px" @click="numsub()">
						<h6>–</h6>
					</button>
					<h6 class="inline" x-text="value"></h6>
					<button class="inline circle" style="--size: 80px" @click="numadd()">
						<h6>+</h6>
					</button>
				</div>
				<div x-data="dimensions">
					<button class="inline circle" style="--size: 80px" @click="numsub()">
						<h6>–</h6>
					</button>
					<h6 class="inline" x-text="value"></h6>
					<button class="inline circle" style="--size: 80px" @click="numadd()">
						<h6>+</h6>
					</button>
				</div>
			</div>
		</div>
		<h5>Vectors: </h5>
		<div class="flex vertical start">
			<form class="inline">
				<div class="interior flex horizontal space-between">
					<h6 class="inline">1: </h6>
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
					<input class="inline" type="text" style="width: 24px">
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
