{% extends "master.html" %}

{% block head %}
<title>Under Construction | Luke Henderson</title>

<script src="{{ url_for('static', filename='js/vector-addition.js') }}"></script>
{% endblock %}

{% block body %}
<ul class="nav">
	<li class="nav-item"><a href="/">Home</a></li>
	<li class="dropdown nav-item active">
		<a href="/Math" class="dropbtn">Math</a>
		<div class="dropdown-content">
			<a href="/Vector-Addition">Vector Addition Calculator</a>
			<a href="/Scalar-Multiplication">Scalar Multiplication Calculator</a>
			<a href="/Magnitude">Vector Magnitude Calculator</a>
			<a href="/Unit-Vector">Unit Vector Finder</a>
			<a href="/Dot-Product">Dot Product Calculator</a>
			<a href="/Cross-Product">Cross Product Calculator</a>
			<a href="/TSP">Triple Scalar Product Calculator</a>
			<a href="/Vector-Projection">Vector Projection Calculator</a>
		</div>
	</li>
	<li class="nav-item"><a href="#">D&D</a></li>
	<li class="nav-right"><a href="mailto:henderson.luket@gmail.com">Contact</a></li>
</ul>

<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Vector Addition and Subtraction Calculator</h1>
		
		<p>To use the calculator, add vectors to the calculator until you reach the desired number. Then set the number of dimensions the vectors should have. Or do it in the other order. I can't stop you. I'm a set of instructions, not a cop.</p>
		<p>The resultant vector is listed at the bottom.</p>
		<p>Presently, only cartesian coordinates are supported as inputs; however, inputting vectors as a magnitude and a direction may be added in the future.</p>
		<div class="flex horizontal center">
			<div class="interior flex vertical space-around" style="height: 260px">
				<h6 class="inline"># of Vectors: </h6>
				<h6 class="inline">Dimensions: </h6>
			</div>
			<div class="interior flex vertical space-around">
				<div>
					<button class="inline circle" style="--size: 80px" @click="vecsub()">
						<h6>–</h6>
					</button>
					<h6 class="inline" x-text="values.length"></h6>
					<button class="inline circle" style="--size: 80px" @click="vecadd()">
						<h6>+</h6>
					</button>
				</div>
				<div>
					<button class="inline circle" style="--size: 80px" @click="dimsub()">
						<h6>–</h6>
					</button>
					<h6 class="inline" x-text="result().length"></h6>
					<button class="inline circle" style="--size: 80px" @click="dimadd()">
						<h6>+</h6>
					</button>
				</div>
			</div>
		</div>
		<h5>Input Vectors: </h5>
		<div class="interior flex horizontal start">
			<div>
				<template x-for="(vector, index) in values">
					<h6 x-text="index + 1" style="margin: 68.5px 50px"></h6>
				</template>
			</div>
			<div>
				<template x-for="(vector, index) in values">
					<form class="flex horizontal space-between" style="margin: 68.5px 0px">
						<select style="margin: 0" x-model="signs[index]">
							<option value="1">+</option>
							<option value="-1">–</option>
						</select>
					</form>
				</template>
			</div>
			<div>
				<template x-for="(vector, index1) in values">
					<form class="flex horizontal space-between">
						<template x-for="(dimension, index2) in values[index1]">
							<input type="number" style="width: 24px; margin: 0px" x-model="values[index1][index2]">
						</template>
					</form>
				</template>
			</div>
		</div>
		<h5>Resultant Vector: </h5>
		<div class="interior flex horizontal center">
			<h6><</h6>
			<template x-for="(dimension, index) in result">
				<h6 x-text="result()[index]"></h6>
			</template>
			<h6>></h6>
		</div>
	</div>
</div>

{% endblock %}
