{% extends "master.html" %}

{% block head %}
<title>Vector Magnitude Calculator | Luke Henderson</title>

<script src="{{ url_for('static', filename='js/vector-magnitude.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Vector Magnitude Calculator</h1>
		
		<p>To use the calculator, input the components of the vector whose magnitude you would like to calculate.</p>
		<p>Presently, the calculator returns an approximate decimal value. Precide values expressed as square roots may be added in the future.</p>
		<p>The resultant vector is listed at the bottom.</p>
		<div class="flex horizontal center">
			<div class="interior flex vertical space-around">
				<h6 class="inline">Dimensions: </h6>
			</div>
			<div class="interior flex vertical space-around">
				<div>
					<button class="inline circle" style="--size: 80px" @click="decrement()">
						<h6>–</h6>
					</button>
					<h6 class="inline" x-text="values.length"></h6>
					<button class="inline circle" style="--size: 80px" @click="increment()">
						<h6>+</h6>
					</button>
				</div>
			</div>
		</div>
		<h5>Input Vector: </h5>
		<form class="flex horizontal center">
			<template x-for="(dimension, index) in values">
				<input type="number" style="width: 24px; margin: 25px;" x-model="values[index]">
			</template>
		</form>
		<h5 x-text="'Magnitude: ' + result()"></h5>
	</div>
</div>

<script defer>document.getElementById("nav-vector-calc").classList.add("active")</script>
{% endblock %}
