{% extends "master.html" %}

{% block head %}
<title>Create Blog | Luke Henderson</title>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex canvas vertical start">
		<h1>Create Blog Post Category</h1>
		<form class="interior flex vertical start" method="post">
			<input type="text" x-model="name" placeholder="Blog Post Title" id="name" name="name">
			<a><button type="submit">Create Blog Post Category</button></a>
		</form>
	</div>
</div>

<script defer>document.getElementById("nav-home").classList.add("active")</script>

{% endblock %}
