{% extends "master.html" %}

{% block head %}
<title>Dot Product Calculator | Luke Henderson</title>

<script src="{{ url_for('static', filename='js/dot-product.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Dot Product Calculator</h1>
		
		<p>To use the calculator, input the components of the vectors to be dotted. The resultant vector is listed at the bottom.</p>
		<p>Presently, only cartesian coordinates are supported as inputs; however, inputting vectors as a magnitude and a direction may be added in the future.</p>
		<div class="flex horizontal center">
			<div class="interior flex vertical space-around">
				<h6 class="inline">Dimensions: </h6>
			</div>
			<div class="interior flex vertical space-around">
				<div>
					<button class="inline circle" style="--size: 80px" @click="decrement()">
						<h6>–</h6>
					</button>
					<h6 class="inline" x-text="vecu.length"></h6>
					<button class="inline circle" style="--size: 80px" @click="increment()">
						<h6>+</h6>
					</button>
				</div>
			</div>
		</div>
		<h5>Input Vectors: </h5>
		<form class="flex horizontal center">
			<template x-for="(dimension, index) in vecu">
				<input type="number" style="width: 24px; margin: 25px;" x-model="vecu[index]">
			</template>
		</form>
		<form class="flex horizontal center">
			<template x-for="(dimension, index) in vecv">
				<input type="number" style="width: 24px; margin: 25px;" x-model="vecv[index]">
			</template>
		</form>
		<h5 x-text="'Dot Product: ' + dotProduct(vecu, vecv)"></h5>
	</div>
</div>

<script defer>document.getElementById("nav-vector-calc").classList.add("active")</script>
{% endblock %}
