{% extends "master.html" %}

{% block head %}
<title>{{ category.name }} - {{ post.name }} | Luke Henderson</title>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex" x-data="main">
	<div class="flex vertical start">
		<h1>{{ post.name }}</h1>
		<div class="usercontent" x-html="convert(`{{ post.text.replace('`', ']][[') }}`)"></div>
	</div>
</div>

<script defer>document.getElementById("nav-home").classList.add("active")</script>

{% endblock %}


