{% extends "master.html" %}

{% block head %}
<title>Cross Product Calculator | Luke Henderson</title>

<script src="{{ url_for('static', filename='js/tsp.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Triple Scalar Product Calculator</h1>
		
		<p>To use the calculator, input the components of the vectors to be multiplied. For clarity, the expression to be computed is listed below the inputs for the vectors to be multiplied. The resultant vector is listed at the bottom.</p>
		<p>Presently, only cartesian coordinates are supported as inputs; however, inputting vectors as a magnitude and a direction may be added in the future. The calculator only works in three dimensions.</p>
		<h5>Input Vectors: </h5>
		<form class="flex horizontal center">
			<input type="number" style="width: 36px;" x-model="vecu[0]">
			<input type="number" style="width: 36px;" x-model="vecu[1]">
			<input type="number" style="width: 36px;" x-model="vecu[2]">
		</form>
		<form class="flex horizontal center">
			<input type="number" style="width: 36px;" x-model="vecv[0]">
			<input type="number" style="width: 36px;" x-model="vecv[1]">
			<input type="number" style="width: 36px;" x-model="vecv[2]">
		</form>
		<form class="flex horizontal center">
			<input type="number" style="width: 36px;" x-model="vecw[0]">
			<input type="number" style="width: 36px;" x-model="vecw[1]">
			<input type="number" style="width: 36px;" x-model="vecw[2]">
		</form>
		<h5>Expression to be calculated: </h5>
		<div>
			<h6 class="inline" style="margin: 50px 0" x-text="'<' + vecu[0] + ', ' + vecu[1] + ', ' + vecu[2]"</h6>
			<h6 class="inline" style="margin: 50px 0">> &#8226 (<</h6>
			<h6 class="inline" style="margin: 50px 0" x-text="vecu[0] + ', ' + vecu[1] + ', ' + vecu[2] + '> &times <' + vecu[0] + ', ' + vecu[1] + ', ' + vecu[2]"></h6>
			<h6 class="inline" style="margin: 50px 0">>)</h6>
		</div>
		<div>
			<h5 class="inline" x-text="'Triple Scalar Product: ' + TSP(vecu, vecv, vecw)"></h5>
		</div>
	</div>
</div>

<script defer>document.getElementById("nav-vector-calc").classList.add("active")</script>
{% endblock %}
